<div class="nested-fields">
    <div class="field">
        <%= f.label :descricao %>
        <%= f.text_area :descricao, id: :alternative_descricao %>
    </div>

    <div class="field">
        <%= f.label :correta %>
        <%= f.check_box :correta, id: :alternative_correta %>
    </div>
</div>