<div class="card">
  <h3 class="card-header clearfix">
    <%= Question.tipos[params[:area]] %>
    <span class='float-right'>
      <!-- <% link_to 'Nova Questão', new_question_path, class: "btn btn-primary btn-outline-success"%> -->
    </span>
  </h3>

  <div class="card-body">
    <% @questions.each do |question| %>
      <div class="alert alert-light" role="alert">
        <p style='white-space: pre-wrap;'><%= question.description %></p>
        <span><%= link_to 'Responder Questão', new_answer_path(question: question), class: 'btn btn-primary' %></span>
      </div>
        <!-- <= current_user.answers.where(question: question).count %> -->
      <hr />
    <% end %>
  </div>
</div>
