<div class="text-center">
<h1>Editar Questão</h1>

<%= render 'form', question: @question %>

<%= link_to 'Mostrar', @question, class:'btn btn-link' %> |
<%= link_to 'Retornar', questions_path, class:'btn btn-link' %>
</div>
