<div class="retangulo" style="background-color: #FFF952;">
<div class="row">
    <h1 style="font-size: 60px; font-family:Lato;">
    <div class="off-md-2">
    Ei, tá na hora<br> de estudar para o enem!</h1><br>
  </div>


      <img src="assets\logo.png" alt="EstudAluno" class="logoinicio"></img>

  </div>
  <h4 style="font-family: serif; font-size: 35px;">Com a plataforma EstudAluno, interatividade e dinâmica não irão
  faltar!<br> É completamente gratuito!</h4>
</div>


  <%= image_tag("icon-biologia.png") %>
  <img src="assets\icon-filosofia.png" alt="icone filosofia" class="filo"></img>
  <img src="assets\icon-fisica.png" alt="icone fisica" class="fisica"></img>
  <img src="assets\icon-quimica.png" alt="icone quimica" class="quimica"></img>

  <h2 class="mensagem2">Conte com as mais diversas<br>questões do enem<br>e divirta-se estudando!</h2>

  <img src="assets\icon-geografia.png" alt="icone geografia" class="geo"></img>
  <img src="assets\icon-historia.png" alt="icone historia" class="historia"></img>
  <img src="assets\icon-literatura.png" alt="icone literatura" class="literatura"></img>
  <img src="assets\icon-matematica.png" alt="icone matematica" class="matematica"></img>

  <div class="retangulo2">
    <p class="ainda">Ainda não é um<br>Luno?</p>
    <a href="users\sign_up"><button type="button" class="btn btn-danger btn-lg offset-md-7" style="font-size: 40px;">Cadastre-se</button></a>
    <img src="assets\tech.png" alt="icone computador" class="tech"></img>
  </div>

  <a href="pages\about" class="chama_sobre">Sobre nós</a>
  <p class="texto_apoio">Apoio:</p>
  <img src="assets\ifc.png" alt="Instituto Federal Catarinense Campus Fraiburgo" class="img_ifc"></img>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <div class="direitos">
  <p class="p">© Equipe EstudAluno. Todos os direitos reservados.</p>
</div>
