<% content_for :title do %>Sobre nós<% end %>
<h3></h3>
<img src="/assets/logo.png" alt="EstudAluno"/>
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
