<% content_for :title do %>Sobre o site<% end %>
<center>
  <h1 class="display-4">Sobre o site</h1>
    <%= image_tag 'logo.png', class:'logoinicio', alt:"EstudAluno" %>

    <br>

      <p>
        ​A cada dia são desenvolvidas novas propostas de melhoramento
estudantil, buscando resolver problemas que ainda fazem parte do cotidiano dos
estudantes. O ganho de conhecimento de forma dinâmica é uma das maneiras mais
chamativas ao aprendizado. Os estudantes ao se depararem com algo diferente do
que costumeiramente utilizam para estudar, acabam tendo outro olhar e despertando
maior interesse em saber do que se trata. A partir disso, a possibilidade de gerar
espaços de estudos mais interativos tem crescido muito desde a utilização da
internet como mecanismo de pesquisa.

Embora os novos caminhos da educação venham contribuindo dentro das
instituições de ensino e até mesmo fora delas, existem certos problemas que
atrapalham a busca por conhecimento. No contexto atual, a sobrecarga de
atividades ocasiona ansiedade e descontrole emocional em vários alunos durante a
preparação para provas. Encontra-se aí o ponto de interesse deste projeto.

Percebendo a dificuldade de muitos em ter seus estudos mais
organizados, o projeto busca integrar a interatividade, o dinamismo e o interesse que
o aluno possui pela tecnologia. Sabe-se que a informática envolve muitas pessoas
de forma bastante simples, e com isso utilizar de tal mecanismo na educação, faz
com que seja possível vivenciar situações e compreender melhor o conteúdo
apresentado. Desta forma, a proposta visa a elaboração de um site com exercícios
do Exame Nacional do Ensino Médio (ENEM), a fim de complementar o aprendizado
dos jovens e adolescentes, preparando-os para prova do Exame.
      </p>

      <br>

      <p>Desenvolvido por:</p>

      <blockquote>
        <p class="mb-0">André Hildebrando Polese</p>
        <footer class="blockquote-footer">andrepolese1108@hotmail.com</footer>
      </blockquote>
      <blockquote>
        <p class="mb-0">André Luiz Pazin</p>
        <footer class="blockquote-footer">andre.pazin007@gmail.com</footer>
      </blockquote>
      <blockquote>
        <p class="mb-0">Eduardo Rampon Meireles</p>
        <footer class="blockquote-footer">eduardomeireles3232@gmail.com</footer>
      </blockquote>
      <blockquote>
        <p class="mb-0">Lucas Fernando Zanela Mello</p>
        <footer class="blockquote-footer">lucasf.zanela@gmail.com</footer>
      </blockquote>
      <blockquote>
        <p class="mb-0">Mateus Vinicius Baldissera</p>
        <footer class="blockquote-footer">mateusbaldissera170401@gmail.com</footer>
      </blockquote>
      <blockquote>
        <p class="mb-0">Orientadora: Ms. profa Elaine Ribeiro.</p>
        <footer class="blockquote-footer">elaine.ribeiro@ifc.edu.br</footer>
      </blockquote>
      <blockquote>
        <p class="mb-0">Coorientador: Prof. Fabricio Bizotto</p>
        <footer class="blockquote-footer">fabricio.bizotto@ifc.edu.br</footer>
      </blockquote>
      <p>
      Instituto Federal de Educação, Ciência e Tecnologia Catarinense - Campus Fraiburgo.<br>
      2018.<br>
      Esta aplicação web foi criada com a linguagem Rails
      <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
      do <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
      </p>
</center>
