.retangulo{

position: absolute;
width: 100%;
height: 504px;
left: 0px;
top: 56px;

background: #FFF952;

}
.estuda{
  position: absolute;
width: 769.01px;
height: 199.21px;
left: 30px;
top: 140px;

font-family: Lato;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 60px;
}

.logoinicio{
border-radius: 183.5px;
width: 385px;
height: auto;
}

.mensagem{
  position: absolute;
width: 1337.42px;
height: 66.79px;
left: 30px;
top: 423px;

font-family: serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 35px;
font-variant: inherit;

color: #000000;
}

.curta{
  position: absolute;
width: 428px;
height: 50px;
left: 856px;
top: 28px;

font-family: Sanchez;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;

color: #2F333A;
}

.mensagem2{
font-family: Sanchez;
font-size: 64px;
color: #2F333A;
}

.direitos{
background-color: #C4C4C4;
}

.icone{
  width: 160px;
}
.tech{
  width: 398px;
}

.ainda{
font-family: Marvel;
font-size: 72px;
}

.chama_sobre{
font-family: Sanchez;
font-size: 30px;
color: #2F333A;

}
.chama_sobre:hover {
  font-family: Sanchez;
  font-size: 30px;
  color: #35b729;
}

.texto_apoio{
font-family: Sanchez;
font-size: 30px;
color: #2F333A;
}

.img_ifc{
width: 241px;
}

.bg-blues{
  background-color:  rgba(88, 152, 199, 0.89);
}

.text-ff{
  color: #ff5c5c;
}

.colorFFF952{
  background-color: #FFF952;
}

.ciano{
background-color: rgba(88, 152, 199, 0.89);
}

.verde{
  background-color: #66ff99;
}

.vermelho{
  background-color: #ff8080;
}
