// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fonte{
  font-size: 14px;
  font-family: monospace;
  color: #fff;
  text-align: center;
}

.bg-lightgreen{
  background-color: #58ACFA;
}

.bg-lightgray{
  background-color: #848484;
}
